@import 'tailwindcss';
@layer base {
  body {
    font-family: 'Poppins', sans-serif;
  }
}
/* ============================================
   FIX GESER KE KANAN (AMAN)
   ============================================ */

html,
body {
  overflow-x: hidden;
}

body {
  padding-top: 70px; /* BIAR KONTEN GA KETUTUP NAVBAR */
}
.container {
  padding-left: 16px;
  padding-right: 16px;
}

img {
  max-width: 100%;
  height: auto;
}
